.testify_secection_container {
  width: 100vw;
  /* height: 70vh; */
  background-color: #ccdad1;
  padding: 64px, 121px, 64px, 121px;
  padding: 2rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */

}
.testimonaildeatils_flex {
  display: flex;
  gap: 20px;
  /* width: 100vw; */
  justify-content: center;
  padding: 2rem;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: blue; */
}


.info_box {
  width: 370px;
  border: 1px solid black;
  height: 236px;
  padding: 27px, 18px, 27px, 18px;
  border-radius: 8px;
  background-color: #fafcff;
  display: flex;
  flex-direction: column;
  /* flex: 0 0 auto; */
  /* opacity: 0; */
  /* transition: opacity 0.5s ease; */
}

.persondetails_box {
  padding: 1rem;
  display: flex;
  align-items: center;

  /* justify-content: center; */
  gap: 15px;
}
.titleh1 h1 {
  color: #0a0f29;
  font-family: "Plus Jakarta Sans";
  font-size: 27px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}
.infoStyle h1 {
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
}
.infoStyle p {
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
}

.reviews_info p {
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: "justified";
  padding: 1rem;
}
.sliderbar {
  width: 10px;
  border-radius: 100px;
  height: 10px;
  background-color: #0a0f29;
  cursor: pointer;
}



/* .slick-initialized div{
  margin: 0px 7px;
  padding: 7px;
  background-color: red;
} */

@media screen and (max-width: 760px) {
  .info_box {
    width: 100%;
    border: 1px solid black;
    height: 100%;
    padding: 0px, 0px, 0px, 0px;
    border-radius: 8px;
    background-color: #fafcff;
    display: flex;
    flex-direction: column;
    /* flex: 0 0 auto; */
    /* opacity: 0; */
    /* transition: opacity 0.5s ease; */
  }
  .reviews_info p {
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: "justified";
    padding: 0rem;
  }
  .infoStyle p {
    font-family: "Plus Jakarta Sans";
    font-size: 9px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
  }
  .infoStyle h1 {
    font-family: "Plus Jakarta Sans";
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
  }
  
  .testify_secection_container {
    width: 100vw;
    background-color: white;
    /* overflow: hidden; */
  }
  
}