@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
  border: 0;
}

/* .slick-slide div{
  margin: 0px 10px;
  padding: 7px;
}
@media screen and (max-width: 760px) {
  .slick-slide div{
    margin: 0px 10px;
    padding: 7px;
}

} */
/* .slick-slide div{
  margin: 0px 10px;
  padding: 7px;
} */
